body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  a {
    color: $dark-colored-font-color;
  }

  ::selection {
    background-color: $accent-purple;
  }

  .lander {
    max-width: 48rem;
    margin: 0px auto;
    font-family: 'Fira Sans';

    h2 {
      font-size: 26px;
    }
  }

  .project-wrapper {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      :last-child {
        margin-bottom: 5rem;
      }
    }
  }

  .talk-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-row-gap: 2.3rem;
    margin-bottom: 4rem;

    @media (max-width: 1024px) {
      grid-template-columns: auto;
      margin-bottom: 2.9rem;
    }
  }
}
