.talk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 1rem;

  h2 {
    text-align: center;
  }
}

.talk-description {
  font-style: italic;
  text-align: center;
}

.talk-event {
  padding: 2rem 0;
  font-family: 'Fira Sans';
  text-align: center;
}
